@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;800&display=swap');

/*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff*/


* {
    box-sizing: border-box;
}

body {
    background-color: #14213D;
    margin: 0;
    font-size: 1rem;
    font-family: blinker, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3rem;
    margin: 0;
    
}

p {
    font-size: 1.5rem;
    letter-spacing: .2em;
}


/* layout */


.app {
    width: 100%;
    max-width: 800px;
    margin-top: 1em;
    padding: 1rem;
    
}

.app-input {
    width: 100%;
    padding: .3em;
    font-size: 1.5rem;
    margin-top: .5em;
}


.sort-add-container {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.items-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
   
}




.btn {
    background-color: #FCA311;
    color: #000000;
    padding: .5em 1.5em;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    
}


.add-btn, 
.sort-btn,
.delete-checked-btn {
    margin-top: 1em;
}



.delete-checked-btn {
    background-color: red;
    text-transform: uppercase;
    
}






.todo-item-input {
    display: flex;
    word-break: break-all;
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 1em;
    color: #000000;
    background-color: #E5E5E5;
    
}



.todo-item {
    padding: 1rem;
    margin-bottom: 2em;
    
}

.checkbox {
    align-self: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    cursor: pointer;

    
}

.todo-task {
   padding: 1em;
    align-self: flex-start;
}
   

.remove-btn {
    background-color: #FCA311;
    color: #000000;
    width: 20%;
    margin-left: auto;
    
    
    

}



